# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local env files
.env
.env*.local
.env.bak
env.bak

# Sub-project specific ignores
backend/prisma/generated/
backend/src/generated/

frontend/dist/
frontend/.cache/
frontend/.vite/
frontend/out/

ml-engineering/__pycache__/
